h1{
  color: #333333;
  text-align: center;
  font-family: 'Audiowide';
  max-width: 400px;
}

#pegasus{
  max-width: 200px;
  height: 30%;
  width: 30%;
}

.textarea{
  max-width: 1000px;
  color: #333333;
  font-size: 22px;
  margin: auto;
  width: 80%;
  font-family: 'Manrope'

}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#search{
  height: 100px;
  width: 295px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 80px;    /* Footer height */
}

#footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:80px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#footeritem li {
  display:inline;
}

li{
   margin: 50px;
   color: black;
   font-size: 20px;
}

a{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
