#pegasus{
  height: 72px;
  width: 84px;
}

#search{
  height: 90px;
  width: 295px;
}

#footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:80px;
  background:#298fca;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#footeritem li {
  display:inline;
}

li{
   margin: 50px;
   color: white;
}

a{
  color: white;
}
