h1{
  color: #333333;
  text-align: center;
  font-family: 'Audiowide';

}

#pegasus{
  max-width: 200px;
  height: 30%;
  width: 30%;
}



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#maintext{
  color: black;
  font-size: 25px;
  font-family: 'Manrope';
  text-align: center;
}


#container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:80px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#footeritem li {
  display:inline;
}

li{
   margin: 50px;
   color: black;
   font-size: 20px;
}

a{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* error page specific css */

.errorHeader {
  font-size: 500% !important;
  margin-top: 30%;
}

.errorSubHeader {
  font-size: 300% !important;

}

.errorMainText {
  text-align: center;
  color: #ffffff;

}






















/*  */
