#container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1rem;
}

h1{
  color: #333333;
  text-align: center;
  font-family: 'Audiowide';

}

#background {
  background-position: 50%  30%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
}

#pegasus{
  max-width: 150px;
  height: 15%;
  width: 15%;
}

#list{
  height: 375px;
  width: 378px;
}

#tree{
  height: 375px;
  width: 378px;
}

#graphnlist{
  color: #333333;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

  font-size: 25px;
  font-family: 'Manrope';
  text-align: center;
}


.graphnlist section{
  width: 50%; float: left;
}


.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

section{
  height: 100%;
  width: 100%;
  display:inline-block;
}



#footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:70px;
  background-color: rgba(200,200,200,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#footeritem li {
  display:inline;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 2%;
  font-family: 'Manrope';
}

li{
  margin: 50px;
  color: #ebb0d6;
  font-size: 20px;
  font-family: 'Manrope';
  font-weight: bold;
}

a:link {
  color: #ebb0d6;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Manrope';
  font-weight: bold;
 }
 a:hover{
  color: #298fca;
}

 a{
  color: #ebb0d6;
  font-weight: bold;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
}

#graylink{
  color: #ebb0d6;
}