h2{
  color: black;
  text-align: center;
  font-size: 28px;
}

#logo{
  height: 125px;
  width: 140px;
}

.textarea{
  color: black;
  font-size: 22px;
}

#search{
  height: 100px;
  width: 295px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 80px;    /* Footer height */
}

#footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:80px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#footeritem li {
  display:inline;
}

li{
   margin: 50px;
   color: black;
   font-size: 20px;
}

a{
  color: black;
}

#graylink{
  color: gray;
}
