#container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;
}

h1{
  color: #333333;
  text-align: center;
  font-family: 'Audiowide';

  max-width: 400px;
}

h2{
  padding-top: 1rem;
  color: #333333;
  text-align: center;
  font-size: 28px;
  font-family: 'Audiowide';
}

#background {
  background-position: 50%  30%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
}

#pegasus{
  max-width: 200px;
  height: 30%;
  width: 30%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.textarea{

  max-width: 1000px;
  color: #333333;
  font-size: 22px;
  margin: auto;
  width: 80%;
  font-family: 'Manrope';

}

#search{
  padding-top: 2rem;
  height: auto;
  width: 295px;
}

#footer{
  
  position: absolute;
  bottom:0;
  width:100%;
  height:70px;
  background-color: rgba(200,200,200,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#footeritem li {
  display:inline;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 2%;
  font-family: 'Manrope';
}

li{
  margin: 50px;
  color: #ebb0d6;
  font-size: 20px;
  font-family: 'Manrope';
  font-weight: bold;
}

a:link {
  color: #ebb0d6;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
  background-color: transparent;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Manrope';
  font-weight: bold;
 }
 a:hover{
  color: #298fca;
}

 a{
  color: #ebb0d6;
  font-weight: bold;
  text-shadow: -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, 1px 1px 0 #333333;
}

#graylink{
  color: #ebb0d6;
}
