.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 0%;
}

/*body {
  background-image: url('image/sky.jpeg');
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

#backround {
  background-position: 50% 3  0%;
  background-repeat: no-repeat;
  background-size: 150% 250%;
}

#pegasus{
  height: 15%;
  width: 15%;
}


h1{
  color: black;
  text-align: center;
  font-size: 300%;
}

#search{
  text-align: center;
}

#button1 {
   border:none;
   background-color: transparent;
   outline:none;
   width:5%;
   height:6%;
   cursor: pointer;
}

#button1 img{
  height: 100%;
  width: 100%;
}

#coursecode{
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  font-size: 110%;
  background:transparent;
}


#footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:%;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}



ul#footeritem li {
  display:inline;
}

li{
   margin: 50px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 110%;
}

a{
  color: white;
}
