.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  /* margin-top: 50px; */
}

body, html {
  height: 100%;
}

#background {
  background-position: 50%  30%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  position: relative;
}

#pegasus {
  /* height: 120px; */
  margin-top: 1%;
  margin-left: center;
  height: 15%;
  width: 15%;
}

h1{
  color: #333333;
  text-align: center;
  font-size: 5vmax;
  line-height: 100%;

}
h2{
  color: #2d3436;
  text-align: center;
  margin-top: 0;
  font-size: 130%;
}

#search{
  text-align: center;
  margin-left: 33%;
  margin-top: 4%;
  width: 40%;
}

#button1{
  border: none;
  background-color: transparent;
  color: white;
  padding: 0px 32px 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;

}

#button1 img{
  height: 100%;
  width: 100%;
}

#coursecode{
  border: 0;
  border-bottom: 1.5px solid black;
  outline: 0;
  font-size: 20px;
  background:transparent;
  /* margin-left: 20%; */
}



#footer{
  position:fixed;
  bottom:10px;
  width:100%;
  height:%;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:100%;
  max-width:100%;
}

ul#footeritem li {
  display:inline;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 2%;
  margin-top: 50px;
}

li{
   margin: 50px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 90%;
}

a{
  color: black;
}



/* tablet sizes */
@media (max-width: 990px) {
  #pegasus {
    /* height: 120px; */
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #coursecode{
    font-size: 20px;
    padding-top: 10px;
    /* margin-left: 25%; */
  }

  #search{
    margin-left: 22%;
  }


}



/* smaller handhelds */
@media (max-width: 750px) {
  #pegasus {
    /* height: 120px; */
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #coursecode{
    font-size: 16px;
  }

  .search {
    margin-left: 0%;
  }

  h1{
    font-size: 380%;
    line-height: 100%;
  }

  .item {
    padding-top: 10px;
    font-size: 20px;
  }


}
